body{
	position: relative;
}
html,body,section.banner{
	height: 100%;
}
h2,p,.form-control,footer{
	font-family: 'verdana';
}
h2{
	font-weight: bold;
	font-size: 40px;
	color: #030711;
	letter-spacing: -2px;
}
h3{
	font-weight: bolder;
	font-size: 35px;
	color: #030711;
	font-weight: 800;
	>.o{
		font-weight: 800;
	}
}
.o{
	color: #c72840!important;
	font-weight: bold;
}
p{
    font-size: 15px;
    padding: 0px 30px;
    color: #030711;
    line-height: 1.6em;
}
.bg-inverse{
	background-color: #C7284D;
	color: #fff;
}
.bg-inverse{
	h1,h2,h3,h4,h5,h6{
		color: #fff;
	}
}
section.banner,header{	
	font-family: 'roboto';
	letter-spacing: 0.1em;
}
.btn-primary {
    border: solid 1px #fff;
    border-radius: 0;
    background-color: transparent;
    font-size: 22px;
    letter-spacing: 0.1em;
    padding: 8px 40px;
}
.btn-secondary {
	font-family: 'verdana';
	font-weight: bolder;
    border: solid 1px #030711;
    border-radius: 50px;
    background-color: #030711;
    font-size: 27px;
    letter-spacing: 0.1em;
    padding: 15px 80px;
}
.btn-primary:hover,.btn-primary:active,.btn-primary:focus{
    background-color: #fff!important;
    color: #b20d37!important;
    outline: 0!important;
    border-color: #fff!important;
    box-shadow: none!important;
}
section .main-img {
    padding: 0;
}
section .main-img img{
	width: 100%;
	height: auto;
}
.form-control,.form-control:focus {
    border: none;
    box-shadow: none!important;
    margin-bottom: 15px;
    border-radius: 0;
    background-color: transparent;
    border-bottom: solid 1px #ffff;
    font-size: 18px;
    font-weight: 300!important;
}
.form-control::placeholder{
	color: #fff;
}
