header{
	width: 100%;
	padding-top: 40px;
	position: absolute;
	ul li {		
		a{
			color: #fff;
		    padding: 20px 30px;
		    font-size: 19px;
		    text-align: center;
			background-color: #700a22;
			border-bottom: solid 1px #4f0516;
		}
		a:hover{
			color: #fff;
		}
	}
	.btn-menu{
		background-color: transparent;
		border: none;
		outline: none;
		display: flex;
	    flex-direction: column;
	    justify-content: space-around;
	    max-height: 50px;
	    position: relative;
	    z-index: 5;
		label{
			width: 50px;
			height: 3px;
			background-color: #fff;
			border-radius: 10px;
			margin: 0;
		}
	}
	.btn-menu:hover{
		cursor: pointer;
		transition: all 0.2s ease-out;
		label{
			background-color: #030711;
			cursor: pointer;
			transition: all 0.2s ease-out;			
		}
	}
	.menu-container{
	    height: 0px;
	    overflow: hidden;
	    transition: all 0.3s ease-out;
	}
	.menu-container.active{
	    height: 300px;
	}
}
@media(min-width: 768px){
	header{
		.menu-container{
			height: auto;
		    max-width: calc(100% - 184px);
		}
		ul li a{
		    text-align: left;
		    background-color: transparent;
		    border-bottom: none;
		}
	}
}