@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon/icomoon.eot?jkizn1');
  src:  url('/fonts/icomoon/icomoon.eot?jkizn1#iefix') format('embedded-opentype'),
    url('/fonts/icomoon/icomoon.ttf?jkizn1') format('truetype'),
    url('/fonts/icomoon/icomoon.woff?jkizn1') format('woff'),
    url('/fonts/icomoon/icomoon.svg?jkizn1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-left:before {
  content: "\e900";
}
.icon-chevron-right:before {
  content: "\e901";
}
