@font-face {
    font-family: 'roboto';
    src: url('/fonts/roboto/roboto-regular-webfont.woff2') format('woff2'),
         url('/fonts/roboto/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto';
    src: url('/fonts/roboto/roboto-thin-webfont.woff2') format('woff2'),
         url('/fonts/roboto/roboto-thin-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}