section.contactanos{
	padding: 90px 0px;
}
section.experiencia,section.clientes{
    padding: 120px 0px;
}
section.clientes img{
	width: 100%;
	height: auto;
}
section.comercio-electronico .row>div:nth-child(2),section.servicios-digitales .row>div:nth-child(1),section.transformacion-y-gestion-digital .row>div:nth-child(2){
	padding: 50px 20px;
}
section.comercio-electronico .row>div:nth-child(2) ul,section.servicios-digitales .row>div:nth-child(1) ul,section.transformacion-y-gestion-digital .row>div:nth-child(2) ul{
	text-align: justify;
    padding: 25px;	
}
section.comercio-electronico .row>div:nth-child(2) ul li,section.servicios-digitales .row>div:nth-child(1) ul li,section.transformacion-y-gestion-digital .row>div:nth-child(2) ul li{
	margin-bottom: 20px;	
}
section.comercio-electronico .row>div:nth-child(2) ul li span,section.transformacion-y-gestion-digital .row>div:nth-child(2) ul li span{
	color: #030711;
}
section.comercio-electronico .row>div:nth-child(2),section.transformacion-y-gestion-digital .row>div:nth-child(2){
	background-color: #fafafa;
}
section.comercio-electronico .row>div:nth-child(2) ul li,section.transformacion-y-gestion-digital .row>div:nth-child(2) ul li{
	color: #c72840;
}
section.transformacion-y-gestion-digital .row>div:nth-child(2) ul>li>ul>li{
	margin-bottom: 5px;
}
section.banner{
	background-image: url("/images/banner.png");
	background-position: center;
	background-size: cover;
}
section.banner h1{
	font-size: 30px;
	font-weight: 300!important;
	line-height: 1.7em;
	color: #fff;
	font-weight: normal;
	letter-spacing: 10px;
}
section.contactanos form{
	width: 450px;
}
@media(min-width: 768px){
	section.banner h1{
		font-size: 57px;
		line-height: 80px;
	}
	section.comercio-electronico .row>div:nth-child(2), section.servicios-digitales .row>div:nth-child(1), section.transformacion-y-gestion-digital .row>div:nth-child(2) {
	    padding: 0px 80px;
	}
}