
// Fonts
@import 'roboto';
@import 'icomoon';

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// General
@import 'general';

// Header
@import 'header';

// Sections
@import 'sections';

// Footer
@import 'footer';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
